<div class="container">
    <h1>Restaurants</h1>
    <ul>
        <% @restaurants.each do |restaurant| %>
        <li>
            <h1>
                <%= link_to restaurant.name, restaurant_path(restaurant) %> &#8211 <%= restaurant.category.capitalize %>
            </h1>
            <p><span class="restaurant-address"><%= restaurant.address %></span><br><span class="phone-number"><%= restaurant.phone_number %></span></p>
        </li>
        <% end %>
    </ul>
    <!-- <a class="btn btn-primary" href="http://localhost:3000/restaurants/new" role="button">Create New Restaurant</a> -->
    <%= link_to "Create New Restaurant", new_restaurant_path, class: "btn btn-primary" %>
</div>
